@font-face {
  font-family: 'Solid';
  src: url(./fonts/Pokemon\ Solid.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #c9c5c577;
}
.load-more{
  width: 100px;
  height: 30px;
  margin: 30px auto;
}
